################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
bin
Debug
obj
.vite
node_modules
src/
cloudgpt_aoai.py
*.pyc
